*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
html {
    font-size: 10px;

}
body{
    height: 100vh;
}
.nav{
    
    margin: 10px;
    border: solid 10px black;
    padding: 10px;
} 
#fotomachado{
    width: 70%;
    border-radius: 50%;
}
#sobre_mim{
    padding: 10px 20px 20px 20px;
    background-color: rgb(214, 190, 145);
    display: flex;
            flex-direction: column;
            align-items: center;
        border: solid  1px brown;
        width: 100%;
        height: 50%;
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace
}
/* class */
#Conteudo {
    display: flex;
        flex-wrap: wrap;
        align-items: center;
    padding: 15px;
    height: 200;
    width: 250;
}
/*class no html */



/* propria tag */
aside {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 70%;

   

}
    
    #titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Courier New', Courier, monospace

    }
    #nav {
        align-items: center;
        font-family: 'Courier New', Courier, monospace  

    }
    #cabecalho{
        align-items: center;
        flex-direction: column;
        
        display: flex;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
       
    }
    #links {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
    }
    footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: antiquewhite;
    }